<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Form</title>
</head>
<body>
<div style="text-align: center; vertical-align: middle;">
    <h2>Witam! Aby dodać lekarza, wprowadź dane zgodnie z poniższym formularzem.</h2>
    <form th:action="@{/addDoctor}" method="post" th:object="${doctor}">
        <label for="name">Imię:</label><br>
        <input type="text" id="name" name="name"/><br>
        <label for="surname">Nazwisko:</label><br>
        <input type="text" id="surname" name="surname"/><br>
        <label for="pnumber">Pesel:</label><br>
        <input type="text" id="pnumber" name="pesel"/><br>
        <label for="specialization">Specjalizacja:</label><br>
        <input type="text" id="specialization" name="specialization"/><br>

        <input type="submit" value="Submit"/>
    </form>
    <br>
</div>
</body>
</html>


