<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <title>Doctors</title>
</head>
<body>
<div id="menu">
    <ol>
        <li><a href="/" title="Main">Main</a></li>
        <li><a href="/doctors" title="Doctors">Doctors</a></li>
    </ol>
</div>

<div id="container">
    <h1>Doctors</h1>

    <table>
        <tr>
            <th>name</th>
            <th>surname</th>
            <th>pesel</th>
        </tr>
        <tr th:each="doctor : ${doctors}">
            <td><span th:text="${doctor.name}"></span></td>
            <td><span th:text="${doctor.surname}"></span></td>
            <td><span th:text="${doctor.pesel}"></span></td>
        </tr>
    </table>
</div>

<div id="footer">&copy; 2020 Marcin Blok</div>
</body>
</html>